/* CSS declarations go here */
.belowText{
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}


.button-centered {
  text-align: center;
}

.homePad{
  margin-top: 40px;
}


.homeIconPad{
  margin-top: 60px;
}



.setUpBorder{

  border: solid;
  border-radius: 2px;
  border-width: 1px;
  border-color: #00b5ad;
  background-color: white;
}



.setUpBorder:active
{
  opacity: 0.5;
}

.textRight {
  text-align: right;
}


.textCenter{
  text-align: center;

}


.appName{
  color: #67597a;
}

.logoPad{
  margin-top: 150px;
  margin-bottom: 30px;
}


.navbar{
  position: fixed;
  top:0; left:0;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.catbar{
  position: fixed;
  top: 49px;
  left:0;
  width: 100%;
  z-index: 1;
}

.contentPic{
  /*position: fixed;
  top: 85px;
  left:0;
  width: 100%;*/
  margin-top: 85px;

}

.picTalkTextLogo{
  padding:10%;
  color: #00b5ad;
}
