/* Empty. Add your own CSS if you like */


.center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;

    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


.caption {
  font-size: 16px;
  font-weight: 500;
}

.translatedCaption
{
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 28px;
  text-align: right;
}

.picTouched{
  opacity:0.5;
}

.picTapped:active{
opacity:0.5;

}

@media (max-width: 1600px) {
  .picTapped {
    width: 33%;
  }
}
